<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dojo_style.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dojo Survey Index</title>
    </head>
    <body>
        <div>
            <form action ='/results' method= 'post'>

                <p>Your Name: <input type='text' name="name"></p>

                <p>Dojo Location: 
                    <select name= "location">
                        <option value= "SanJose">San Jose</option>
                        <option value="Berkeley">Berkeley</option>
                        <option value= "SanFrancisco">San Francisco</option>
                    </select></p>

                <p>Favorite language: 
                    <select name= "language">
                        <option value= "python">Python</option>
                        <option value="javascript">Javascript</option>
                        <option value= "ruby">Ruby On Rails</option>
                    </select></p>

                <p>Comment (optional):</p>
                <textarea name="comment" rows= "8" cols="50"></textarea>
                
                <p><input type= 'submit' value='Button'></p>
            </form>
        </div>  
    </body>
</html>